form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.4em;
    .col-form{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-bottom: 1.2em;
        .form-label{
            font-size: 1.2em;
            margin-right: 0.8em;
        }
        .form-control{
            width: 100%;
            font-size: 1.2em;
            border: 1px solid black;
            border-radius: 10px;
            padding: 0.8em;
        }
    }
}